@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}


p{
  margin: 0;
}

:root {
    --white: #FFFFFF;
    --lighterPurple: #BBC0FF;
    --darkBlue: #1C204B;
    --purple: #5A1CBB;
    --slightlyLightPurple: #7335D2;
    --lightPurple: #7078C9;
    --veryDarkBlue: #0E1323;
    --green: #29BA66;
    --lightGreen: #4BCF82;
    --tile:#3F9CBB;
    --lightTile:#55C2E6;
    --offWhite: #D8D8D8;
    --orange: #D96C47;
    --lightOrange: #FF8B64;
    --musturd: #E6A532;
    --red: #F04667;
    --lightRed: #FF5E7D;
    --yellow:#F1C75B;


    --rubik: "Rubik", sans-serif;
}

body, html {
    margin: 40px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: var(--veryDarkBlue);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;  
    gap: 12px; 
    width: 327px; 
}

.large-col {
    grid-column: 1;
    grid-row: 1 / span 2;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 203px;
    max-height: 203px;
}


.profile-col, .nav {
    position: absolute; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.profile-col {
    background-color: var(--slightlyLightPurple);
    top: 0;                     
    height: 65%;               
    border-radius: 20px;
    z-index: 1;
}

.profile-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid var(--white);
}

.nav {
    background-color: var(--darkBlue); 
    top: 60%;                  
    height: 40%;               
    border-radius: 0 0 20px 20px;
    align-items: self-end;
    padding-bottom: 22px;
}

.nav-buttons {
    background-color: var(--darkBlue);
    border: none;
    color: var(--lighterPurple);
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 18px;
}

.nav-buttons:hover {
    color: var(--lighterPurple);
}
  
.nav-buttons.active {
    color: var(--white);
    font-weight: 600;
}

.report {
    width: 175px;
    color: var(--lighterPurple);
    font-family: var(--rubik);
}

.name {
    color: var(--white);
    font-family: var(--rubik);
}

.top-row {
    display: flex;
    position: relative;         
    border-radius: 20px;        
    overflow: hidden;           
    height: 160px;              
}

.child-div1 {
    background-color: var(--lightOrange);
    position: absolute;         
    top: 0;                     
    height: 33%;               
    width: 100%;              
}

.child-div2 {
    background-color: var(--darkBlue);
    position: absolute;         
    top: 21%;                   
    height: 70%;                
    width: 100%;                
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    border-radius: 20px;
}

.work-div1{
    background-color: var(--lightOrange);
}

.play-div1 {
    background-color: var(--lightTile);
}

.study-div1 {
    background-color: var(--lightRed);
}

.exercise-div1 {
    background-color: var(--lightGreen);   
}

.social-div1 {
    background-color: var(--slightlyLightPurple);
}

.self-care-div1 {
    background-color: var(--yellow);
}

.symbol-img{
    position: absolute;       
    top: -14px;                
    right: 10px;              
    z-index: 1;               
    width: 78px;
    height: 78px;
}

.card-type{ 
    position: relative;
    min-width: 279px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 25px 0 25px; */
}

.card-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
}

.type {
    width: 76px;
    max-height: 21px;
    font-family: var(--rubik);
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

.time {
    font-family: var(--rubik);
    font-weight: 300;
    font-size: 32px;
    color: var(--white);
}

.last-time {
    font-family: var(--rubik);
    font-style: normal;
    font-size: 16px;
    color: var(--lighterPurple);
}

.ellipsis {
    min-width: 21px;
    height: 5px;
}

.second-row {
    display: flex;
    position: relative;         
    border-radius: 20px;        
    overflow: hidden;           
    height: 160px;            
}

.second-row.item4, .second-row.item5, .second-row.item6 {
    background-color: var(--lightOrange);
    position: absolute;         
    top: 0;                     
    height: 33%;               
    width: 100%;             
}

/* Ensure grid layout only applies on larger screens */
@media screen and (min-width: 900px) {
    body {
        height: 100vh;
        margin: 0;
    }

    .grid-container {
        grid-template-columns: 255px repeat(3, 255px); /* First column + 3 equal columns */
        grid-template-rows: repeat(2, 253px); /* Two equal rows */
        gap: 12px; /* Space between grid items */
        width: auto; /* Adjusts width dynamically for larger screens */
    }

    .symbol-img{
        width: 72px;
        height: 66px;
    }

    /* Adjust large column height for larger screens */
    .large-col {
        height: 518px; /* Height of large column on larger screens */
        max-height: 518px;
    }

    .profile-col {
        height: 354px;
        max-height: 354px;
    }

    .nav {
        height: 36%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .top-nav-btn {
        margin: 25px 0 0 20px;
    }

    .nav-buttons {
        margin: 10px 0 5px 30px;
    }

    .child-div2 {
        padding: 20px;
    }

    .card-type {
        padding: 0 35px 0 35px;
    }

    .card-time {
        flex-direction: column;
        align-items: flex-start;
        width: -webkit-fill-available; 
    }

    .time {
        font-size: 56px;
        padding: 0 0 10px 0;
    }

    /* Adjust height for grid items in top and second rows */
    .top-row, .second-row {
        height: 255px; /* Adjust height for each item */
        width: 255px; /* Set width for each item */
    }
}